.container {
  padding: 10px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.page {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.page_select {
  border: 2px solid #40a840;
}